.contract-list-container {
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 93%;
    max-width: 1200px;
    
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 2rem;
  }
  
  .custom-loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2162a6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .contract-list-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contract-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .contract-table-header {
    background-color: #3897d8;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 1rem;
  }
  
  .contract-table-row {
    transition: background-color 0.3s ease;
  }
  
  .contract-table-row:hover {
    background-color: #f1f1f1;
  }
  
  .contract-table-cell {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 1rem;
  }
  
  .status-button {
    padding: 6px 12px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .status-pending {
    background-color: #ffc107;
    color: #fff;
  }
  
  .status-confirmed {
    background-color: #28a745;
    color: #fff;
  }
  
  .status-rejected {
    background-color: #dc3545;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .contract-table {
      font-size: 0.9rem;
    }
  
    .contract-table-header {
      font-size: 0.85rem;
    }
  }
  