.forget-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
  }
  
  .forget-password-card {
    background-image: url('../../assets/img/cardback.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    padding: 40px 60px;
    width: 100%;
    max-width: 550px;
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  .forget-password-card h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
  box-shadow:  inset  4px 4px 10px rgba(128, 128, 128, 0.5);  
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  .submit-button:hover {
    /* color: white; */
    box-shadow: inset -4px -4px 10px rgba(128, 128, 128, 0.5);
  }
  
  .error-message {
    color: #dc3545;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .resend-otp-link {
    color: #000000;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 20px;
    text-decoration: underline;
  }
  
  .resend-otp-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .forget-password-card {
      padding: 30px;
      width: 90%;
    }
  
    .forget-password-card h1 {
      font-size: 1.5rem;
    }
  
    .input-field, .submit-button {
      font-size: 1rem;
      padding: 10px;
    }
  
    .resend-otp-link {
      font-size: 0.85rem;
    }
  }
  