.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
.sidenav {
  background-color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.show-sidebar {
  transform: translateX(0);
}

body.sidebar-open {
  overflow: hidden;
}

@media (min-width: 992px) {
  .sidenav {
    transform: translateX(0);
  }
}

.navbar-toggler {
  display: none;
}

@media (max-width: 991.98px) {
  .navbar-toggler {
    display: block;
  }
}
.sidenav {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-110%);
}

.show-sidebar {
  transform: translateX(0);
}

body.sidebar-open {
  overflow: hidden;
}

@media (min-width: 992px) {
  .sidenav {
    transform: translateX(0);
  }
}

.navbar-toggler {
  display: none;
}

@media (max-width: 991.98px) {
  .navbar-toggler {
    display: block;
  }
}
@media (max-width: 1199px) {
  main.main-content {
    margin-left: 265px;
  }
}

@media (max-width: 991px) {
  main.main-content {
    margin-left: 0;
  }
  .drop_menu_responsive .dropdown-menu {
    left: 50px;
    right: unset !important;
  }
}


.alert-primary{
  background-color: #3598da !important;
  color: white;

}